This problem was asked by Two Sigma.

Alice wants to join her school's Probability Student Club. Membership dues are computed via one of two simple probabilistic games.

The first game: roll a die repeatedly. Stop rolling once you get a five followed by a six. Your number of rolls is the amount you pay, in dollars.

The second game: same, except that the stopping condition is a five followed by a five.

Which of the two games should Alice elect to play? Does it even matter? Write a program to simulate the two games and calculate their expected value.

In [1]:
import numpy as np
from names_dataset import NameDataset
import pandas as pd

In [2]:
nd = NameDataset()
nigerian_names = nd.get_top_names(n=100, country_alpha2='NG')
females = nigerian_names['NG']['F']
males = nigerian_names['NG']['M']
names = males + females

In [3]:
def first_game():
  """
  The first game: roll a die repeatedly. Stop rolling once you get a five followed by a six. 
  Your number of rolls is the amount you pay, in dollars.
  """
  rng = np.random.default_rng()

  prev = rng.integers(1, 1000, 1)
  current = rng.integers(1, 1000, 1)
  
  count = 1

  while prev != 5 or current != 6:
    count += 1
    prev = current
    current = rng.integers(1, 7, 1)
  
  return count

In [4]:
amount = first_game()
print("Your membership dues are: ", amount, "dollars.")

Your membership dues are:  21 dollars.

In [6]:
# We can play the game for some groupe of people
scores = [None] * len(names)
for i in range(len(scores)):
  amount = first_game()
  scores[i] = amount

In [9]:
membership_dues = pd.DataFrame(zip(names, scores), columns=["Name", "Dues"])
membership_dues

           Name  Dues
0       Ibrahim    10
1      Emmanuel    42
2      Abubakar     9
3      Muhammad    45
4          John    98
..          ...   ...
195    Chiamaka    72
196      Chisom    18
197     Maureen     8
198  Oluwatosin    13
199     Onyinye    44

[200 rows x 2 columns]

In [10]:
def second_game():
  """
  The first game: roll a die repeatedly. Stop rolling once you get a five followed by a five. 
  Your number of rolls is the amount you pay, in dollars.
  """
  rng = np.random.default_rng()

  prev = rng.integers(1, 7, 1)
  current = rng.integers(1, 7, 1)
  
  count = 1

  while prev != 5 or current != 5:
    count += 1
    prev = current
    current = rng.integers(1, 7, 1)
  
  return count, prev, current

In [12]:
amount, prev, curr = second_game()
print("Your membership dues are: ", amount, "dollars.")
print(prev)
print(curr)

Your membership dues are:  63 dollars.
[5]
[5]